<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Express Starter</title>
  </head>
  <body>
    <main>
      <h1>Home Page</h1>
      <p>This page is rendered from Ejs</p>
      <p>Happy Coding 🥳</p>

      <a href="/">Go Back</a>
    </main>
  </body>
</html>
